WORDPRESS_PORT=8080
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_CACHE_KEY_SALT=

WORDPRESS_AUTH_KEY=
WORDPRESS_SECURE_AUTH_KEY=
WORDPRESS_LOGGED_IN_KEY=
WORDPRESS_NONCE_KEY=
WORDPRESS_AUTH_SALT=
WORDPRESS_SECURE_AUTH_SALT=
WORDPRESS_LOGGED_IN_SALT=
WORDPRESS_NONCE_SALT=

MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=

REDIS_PASSWORD=

MASTERIYO_GOOGLE_CLIENT_ID=
MASTERIYO_GOOGLE_CLIENT_SECRET=
MASTERIYO_FACEBOOK_APP_ID=
MASTERIYO_FACEBOOK_APP_SECRET=
